@import url('https://fonts.googleapis.com/css?family=Cinzel|Rokkitt&display=swap');

/* 
font-family: 'Rokkitt', serif;
font-family: 'Cinzel', serif;
 */

* {
    box-sizing: border-box;
    background-color:black;
   
}
body{
    background:black;
    margin:0;
}

h1,
h2,
a {
    font-family: 'Cinzel', serif;
}

p,
label,
input,
textarea {
    font-family: 'Rokkitt', serif;
    color:white;
}

body,
html {
    height: 90%;
    margin-top: 10px;
}

 
/* nav bar */
 .nav {
     
    
     justify-content: end;
     width: 100%;
     background:black;
 }
.nav a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    background:black;
    
}

.nav a:active,
.nav-link:hover {
    color: rgb(230, 62, 230);
    
}



/* Contact Form */

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
            url("https://c4.wallpaperflare.com/wallpaper/851/501/292/programming-code-minimalism-wallpaper-preview.jpg");
        height: 30%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    h1 {
        font-size: 30px;
        padding: 5px;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid whitesmoke;
        color: white;
        background: rgba(0, 0, 0, .8);

    }

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:white;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=subject] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 10px 45px 10px;
    height:40px;
}

    /* Create two columns that float next to eachother */
    .map {
        width: 99%;
        height: 100%
    }

    .column1 {
        float: left;
        height: 420px;
        width: 50%;
        padding-top: 35px;

    }

    .column2 {
        float: right;
        width: 50%;
        height: 650px;

    }



/* Clear floats after the columns */

.row2:after {
    content: "";
    display: table;
    clear: both;
}


/* Contact Info */

.contact-info {
    /* border: 1px solid pink; */
    margin: 50px 20px;
    font-size: 1.4em;
}

.contact-info span {
    font-weight: bolder;
}

@media screen and (max-width:768px) {
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
            url("https://c4.wallpaperflare.com/wallpaper/851/501/292/programming-code-minimalism-wallpaper-preview.jpg");
        height: 20%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    h1 {
        font-size: 15px;
        padding: 5px;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid whitesmoke;
        color: white;
        background: rgba(0, 0, 0, .8);

    }


    /* Form */

    input[type=text],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        color: white;
    }

    input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=subject] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    /* Style the container/contact section */

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px 10px 45px 10px;
        height: 40px;
    }


    /* Create two columns that float next to eachother */
    .map {
        width: 99%;
        height:100%

    }

    .column1 {
        float:left;
        height: 420px;
        width:49%;
        padding-top:35px;
      
    }

    .column2 {
        float: right;
        width: 50%;
        height: 650px;
      
    }


    /* Clear floats after the columns */

    .row2:after {
        content: "";
        display: table;
        clear: both;
    }


    /* Contact Info */

    .contact-info {
        /* border: 1px solid pink; */
        margin: 50px 20px;
        font-size: 1.4em;
    }

    .contact-info span {
        font-weight: bolder;
    }
}


@media only screen and (max-width: 414px){
  .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
          url("https://c4.wallpaperflare.com/wallpaper/851/501/292/programming-code-minimalism-wallpaper-preview.jpg");
      height: 20%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
h1{
    font-size: 15px;
    padding:5px;
}
  .hero-text {
      text-align: center;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid whitesmoke;
      color: white;
      background: rgba(0, 0, 0, .8);
     
  }


  /* Form */

  input[type=text],
  textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      color: white;
  }

  input[type=email] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }

  input[type=subject] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }

  input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #45a049;
  }


  /* Style the container/contact section */

  .container2 {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px 10px 45px 10px;
      height: 40px;
  }


  /* Create two columns that float next to eachother */
.map{
    width:99%;
    height:50%
  
}
.column1{
    width:100%
}
  .column2 {
      float: left;
      width: 100%;
      height: 20%;
      margin-top: 6px;
      padding: 20px;
  }


  /* Clear floats after the columns */

  .row2:after {
      content: "";
      display: table;
      clear: both;
  }


  /* Contact Info */

  .contact-info {
      /* border: 1px solid pink; */
      margin: 50px 20px;
      font-size: 1.4em;
  }

  .contact-info span {
      font-weight: bolder;
  }
  
}

/* Project Cards*/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:10px;
    border-top: 50px;
}

.card {
    background:white;
    width:100%;
    height: 450px;
    margin: 25px;
    
    /* border-radius: 15px; */
}

.card-image {
    height: 750px;
    margin-bottom: 15px;
    background-size: cover;
    /* border-radius: 15px; */
    background-position:top;
}

/*Card images*/
.project-1 {
    background-image: url('images/Gateway.png');
}

.project-2 {
    background-image: url('images/SocialJustice.png');
}

.project-3 {
    background-image: url('images/HopeHacks.png');
}

.project-4 {
    background-image: url('images/EcomReact.png');
}

.project-5 {
    background-image: url('images/Deja-vu.jpeg');
}

.project-6 {
    background-image: url('images/Espresso.jpeg');
}



.card h2 {
    margin-bottom: -50px;
    padding: 1px;
    text-align: center;
    color: black;
    background:white;
}

.card h3 {
    font-size: 15px;
    margin-bottom: -5px;
    padding: 5px;
    text-align: center;
    color:black;
    background:white;
}

.card p {
    margin-bottom: -5px;
    padding: 10px;
    text-align: center;
    color:black;
    font-size: 15px;
    text-shadow: 2px 2px white;
    background:white;
}

.card:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.cartbuttonForm {
    margin:auto;
    background:white;
    border-radius: 15px 15px 0 0;
    padding-bottom:10px; 
}
.cartbuttonForm form{
    background:white;
    border-radius: 15px 15px 0 0;
}

.inputBox1 input[type="submit"] {
    width: 100px;
    background-color: rgb(237, 237, 237);
    color: black;
    border: none;
    cursor: pointer;
    padding: 3px;
    font-size: 12px;
    border-radius: 12px 12px;
    
}

.inputBox1:hover {
    color: black;
    transform: scale(1.03);
}


/*Responsive Product Cards*/
@media screen and (max-width:768px) {
.container {
    margin: 30px;
}

.card {
    background: white;
    width: 100%;
    height: 450px;
    margin: 25px;

    /* border-radius: 15px; */
}

.card-image {
    height: 750px;
    margin-bottom: 15px;
    background-size: cover;
    /* border-radius: 15px; */
    background-position: top;
}

/*Card images*/
.project-1 {
    background-image: url('images/Gateway.png');
}

.project-2 {
    background-image: url('images/SocialJustice.png');
}

.project-3 {
    background-image: url('images/HopeHacks.png');
}

.project-4 {
    background-image: url('images/EcomReact.png');
}

.project-5 {
    background-image: url('images/Deja-vu.jpeg');
}

.project-6 {
    background-image: url('images/Espresso.jpeg');
}



.card h2 {
    margin-bottom: -50px;
    padding: 1px;
    text-align: center;
    color: black;
    background: white;
}

.card h3 {
    font-size: 15px;
    margin-bottom: -5px;
    padding: 5px;
    text-align: center;
    color: black;
    background: white;
}

.card p {
    margin-bottom: -5px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 15px;
    text-shadow: 2px 2px white;
    background: white;
}

.card:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.cartbuttonForm {
    margin: auto;
    background: white;
    border-radius: 15px 15px 0 0;
    padding-bottom: 10px;
}

.cartbuttonForm form {
    background: white;
    border-radius: 15px 15px 0 0;
}

.inputBox1 input[type="submit"] {
    width: 100px;
    background-color: rgb(237, 237, 237);
    color: black;
    border: none;
    cursor: pointer;
    padding: 3px;
    font-size: 12px;
    border-radius: 12px 12px;

}

.inputBox1:hover {
    color: black;
    transform: scale(1.03);
}  
}


@media only screen and (max-width: 414px) {
  .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
      margin-top: 20px;
      border-top: 50px;
  }

  .card {
      background: white;
      width: 100%;
      height: 455px;
      margin: 25px;

      /* border-radius: 15px; */
  }

  .card-image {
      height: 755px;
      margin-bottom: 15px;
      background-size: cover;
      /* border-radius: 15px; */
      background-position: top;
  }

  /*Card images*/
  .project-1 {
      background-image: url('images/Gateway.png');
  }

  .project-2 {
      background-image: url('images/SocialJustice.png');
  }

  .project-3 {
      background-image: url('images/HopeHacks.png');
  }

  .project-4 {
      background-image: url('images/EcomReact.png');
  }

  .project-5 {
      background-image: url('images/Deja-vu.jpeg');
  }

  .project-6 {
      background-image: url('images/Espresso.jpeg');
  }



  .card h2 {
      margin-bottom: -50px;
      padding: px;
      text-align: center;
      color: black;
      background: white;
      font-size: 30px;
     
  }

  .card h3 {
      font-size: 15px;
      margin-bottom: -5px;
      padding: 5px;
      text-align: center;
      color: black;
      background: white;
  }

  .card p {
      margin-bottom: -5px;
      padding: 10px;
      text-align: center;
      color: black;
      font-size: 15px;
      text-shadow: 2px 2px white;
      background: white;
  }

  .card:hover {
      transform: scale(1.03);
      transition: all 1s ease;
  }

  .cartbuttonForm {
      margin: auto;
      background: white;
      border-radius: 15px 15px 0 0;
      padding-bottom: 10px;
  }

  .cartbuttonForm form {
      background: white;
      border-radius: 15px 15px 0 0;
  }

  .inputBox1 input[type="submit"] {
      width: 100px;
      background-color: rgb(237, 237, 237);
      color: black;
      border: none;
      cursor: pointer;
      padding: 3px;
      font-size: 12px;
      border-radius: 12px 12px;

  }

  .inputBox1:hover {
      color: black;
      transform: scale(1.03);
  }
}


.fab fa-google-plus-g{
    color:white;
}

.footer{
    height: 2%;
}